.points {
  max-width: 400px;
  width: 100%;
}

.point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #9c9c9c;
  padding: 5px;
}

.button {
  margin-left: 20px;
}
