.points {
  max-width: 400px;
  width: 100%;
}

.point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #9c9c9c;
  background-color: #ffffff;
  padding: 5px;
  cursor: grab;
  opacity: 1;
}
.druggingPoint {
  opacity: 0;
}

.address {
  background-color: inherit;
}

.button {
  margin-left: 20px;
}
